#- the purpose of this file is to store temporary various commands with include
#long paths etc., but w/o committing it to the repository
#- it's inconvenient to remember e.g. this example if you worked on this task a
#week ago

#- this is left just as an example, the watch-run is my local bash function so
#the example won't work for you

#TO SUMMARIZE: copy this file to ./Makefile.current
#- in the current-target-help target enter some reminder so that you recall
#quickly how to call the main target
#- and in the main target, current-target store as much stuff as possible, so
#that you don't have to retype it next time
#- since the file is ignored, one is free to add/remove/change code here at his
#own discretion

#.SILENT: current-target-help
#current-target-help:
#	echo "watch-run 'make current-target' ./src"
#
#.PHONY: current-target
#current-target: BUILD_FILES="'./src/components/pie-3d/prepare-data.js ./src/test-unit/components/pie-3d/draw-data-on-canvas.util.js'"
#current-target: TEST_FILES="./src/test-unit/components/pie-3d/prepare-data.test.js"
#current-target: TEST_FILES_RUN = $(subst ./src/,./test/unit-tmp/src/,$(TEST_FILES))
#current-target: test-unit
